.katalog {
  display: grid;
  grid-template-columns: auto auto;

  border: solid 10px grey;
  border-radius: 150px;
}

.rasa {
  width: 40px;

  margin: 5px;
}

.zdjecie {
  width: 450px;
  border-radius: 100px;
  border: solid 5px yellow;
  margin: 10px;
}

.tytulstrony {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 5px yellow;
  border-radius: 0px;
  width: 200px;
}

.lista {  width: 25%;  border-right: 1px solid gray;  padding-right: 10px;
